<form class="mx-auto" style="width: 80%; margin-top: 3%; margin-bottom: 6%;">
  <div class="form-group">
    <label for="nbrAdultes">Nombre d'adultes :</label>
    <input type="number" class="form-control" id="nbrAdultes" [(ngModel)]="currentReservation.nbrAdultes"
      name="nbrAdultes">
  </div>
  <div class="form-group">
    <label for="nbrEnfants">Nombre d'enfants :</label>
    <input type="number" class="form-control" id="nbrEnfants" [(ngModel)]="currentReservation.nbrEnfants"
      name="nbrEnfants">
  </div>
  <div class="form-group">
    <label for="heureReservation">Heure de réservation :</label>
    <select class="form-control" id="heureReservation" [(ngModel)]="currentReservation.heureReservation"
  name="heureReservation">
  <option *ngFor="let horaire of horaires" [value]="horaire">{{horaire.horaire}}</option>
</select>

  </div>
  <div class="form-group">
    <label for="restaurant">Restaurant :</label>
    <select class="form-control" id="restaurant" [(ngModel)]="currentReservation.restaurant" name="restaurant">
      <option *ngFor="let restaurant of restaurants" [value]="restaurant">{{restaurant.nom}}</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary btn-orange" (click)="updateReservation()">Mettre à jour</button>
</form>