<h1>{{ currentRestaurant.nom }}</h1>

<div>
  <h3>Informations sur le restaurant :</h3>
  <p>Adresse : {{ currentRestaurant.adresse }}</p>
  <p>Nombre de places : {{ currentRestaurant.nbrPlaces }}</p>
  <p>Accessible PMR : {{ currentRestaurant.pmr ? 'Oui' : 'Non' }}</p>
  <p>Prix moyen : {{ currentRestaurant.prixMoyen }}€</p>
</div>

<div>
  <h3>Liste des réservations :</h3>
  <ul>
    <li *ngFor="let reservation of currentRestaurant.reservations">
      {{ reservation.nbrAdultes }} Adultes - {{ reservation.nbrEnfants }} enfants - {{ reservation.heureReservation }}
    </li>
  </ul>
</div>
