<!-- NAVIGATION CONTEXTUELLE RESTAURANT -->
<nav class="nav-restaurant">
  <form class="search">
    <input class="place-holder" type="search" placeholder="Recherche par nom" aria-label="Rechercher">
    <button class="btn-form-inline" type="submit">Rechercher</button>
  </form>
  <ul class="navbar-nav">
    <li class="btn-add-restaurant">
      <button class="btn-search" (click)="onOpenModal({id: 1, nom: '', imageUrl:'', adresse: '', nbCouverts: 0, accessibilitePmr: false, prixMoyen: 0}, 'add')">Ajouter un restaurant <span class="sr-only">(current)</span></button>
    </li>
  </ul>
</nav>
<!-- MAIN - LISTE DES RESTAURANTS -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let restaurant of restaurants">
      <div class="card h-100">
        <img src="../assets/restaurantImage.jpg" class="card-img-top" alt="{{restaurant.nom}}">
        <div class="card-body">
          <h5 class="card-title">{{restaurant.nom}}</h5>
          <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{restaurant.adresse}}</p>
          <p class="card-text"><i class="bi bi-person-fill"></i> {{restaurant.nbCouverts}} couverts</p>
          <p class="card-text"><i class="bi bi-wheelchair"></i> {{restaurant.accessibilitePmr ? 'Accessible PMR' : 'Non accessible PMR'}}</p>
          <p class="card-text"><i class="bi bi-currency-euro"></i> Prix moyen : {{restaurant.prixMoyen}}€</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-danger mx-2" (click)="supprimerRestaurant(restaurant)">
              <i class="bi bi-trash-fill"></i>
            </a>      
            <a [routerLink]="['/update-restaurant', restaurant.id]" class="btn btn-success mx-2"><i class="bi bi-pencil-fill"></i></a> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL D'AJOUT DE RESTAURANT -->
<div class="modal fade" id="addRestaurantModal" tabindex="-1" role="dialog" aria-labelledby="addRestaurantModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRestaurantModalLabel">Ajouter un restaurant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddRestaurant(addForm)">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="Nom" required>
          </div>
          <div class="form-group">
            <label for="adresse">Adresse</label>
            <input type="text" ngModel name="adresse" class="form-control" id="adresse" placeholder="Adresse" required>
          </div>
          <div class="form-group">
            <label for="nbCouverts">Nombre de couverts</label>
            <input type="number" ngModel name="nbCouverts" class="form-control" id="nbCouverts" placeholder="Nombre de couverts" required>
          </div>
          <div class="form-check">
            <input type="checkbox" ngModel name="accessibilitePmr" class="form-check-input" id="accessibilitePmr">
            <label class="form-check-label" for="accessibilitePmr">Accessibilité PMR</label>
          </div>
          <div class="form-group">
            <label for="prixMoyen">Prix moyen</label>
            <input type="number" ngModel name="prixMoyen" class="form-control" id="prixMoyen" placeholder="Prix moyen" required>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" class="btn btn-primary">Sauvegarder les changements</button>
            <button type="button" id="add-restaurant-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

