///NAVIGATION
.navbar {
  height: 130px;

  a {
    color: #333;
    font-weight: bold;
  }
}

//logo
.navbar-brand{
  width: 200px;
}

.navbar-nav-item {
  display: flex;
  justify-content: space-between;
  width: 30%;
  list-style: none;
  align-items: center;
  margin-left: 20%;
}
///FOOTER///
.footer {
  background-color: #ffffff;
  color: #616161;
  padding-left: 5px;
  padding-top: 15px;
}
.footer-logo {
  width: 125px;
}
.footer-nav {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.footer-nav li {
  margin-left: 20px;
}

.footer-nav li:first-child {
  margin-left: 0;
}

.footer-nav a {
  color: #626262;
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-nav a:hover {
  color: #bb5124;
}
///Sous footer
.sub-footer {
  border-top: 1px solid rgb(192, 192, 192);
  margin-top: 1%;
}



