<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Gestion des Produits</title>
</head>
<body>
  <nav class="navbar">
    <!-- Logo -->
    <a class="navbar-brand" href="#">
      <img class="navbar-brand" src="./assets/logo-the-spoon.png" alt="The Spoon logo">
    </a>
    <!-- Links -->
    <ul class="navbar-nav-item">
      <li>
        <a routerLink="/home" routerLinkActive="active">ACCUEIL</a>
      </li>
      <li>
        <a class="dropdown-item" routerLink="/rechercheRestaurantParNom" >RECHERCHE</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          ETABLISSEMENTS
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/add-restaurant" routerLinkActive="active">Ajouter un établissement</a>
          <a class="dropdown-item" routerLink="/restaurants" routerLinkActive="active">Liste</a>
        </div>
      </li>
      <li>
        <a routerLink="/reservations" routerLinkActive="active"> RESERVATIONS</a>
      </li>
    </ul>

    <!-- Items -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          LOGIN
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/login">login</a>
          <a class="dropdown-item" href="#">logout</a>
          <a class="dropdown-item" href="#">Profile</a>
        </div>
      </li>
    </ul>
  </nav>
</body>
</html>
<router-outlet></router-outlet>
<footer class="footer" style="background-color: #FFFFFF; margin-top: 2%;">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-3">
        <img class="footer-logo" src="./assets/logo-the-spoon.png" alt="The Spoon logo">
      </div>
      <div class="col-sm-9">
        <ul class="footer-nav">
          <li><a href="#">ACCUEIL</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">ETABLISSEMENTS</a>
            <ul class="dropdown-menu">
              <li><a href="#">Ajouter un établissement</a></li>
              <li><a href="#">Liste des établissements</a></li>
            </ul>
          </li>
          <li><a href="#">RESERVATIONS</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">MENTIONS LEGALES</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="sub-footer">© 2023 The Spoon. Tous droits réservés.</p>
      </div>
    </div>
  </div>
</footer>
