<!-- NAVIGATION CONTEXTUELLE RESERVATION -->
<nav class="nav-reservation">
  <form class="search">
    <input class="place-holder" type="search" placeholder="Recherche par nom" aria-label="Rechercher">
    <button class="btn-form-inline" type="submit">Rechercher</button>
  </form>
  <ul class="navbar-nav">
    <li class="btn-add-reservation">
      <button class="btn-search" (click)="onOpenModal({id: 0, nbrAdultes: 1, nbrEnfants: 0, restaurant: {id: 0, nom: '', adresse: '', nbrPlaces: 0, accessibilitePmr: false, prixMoyen: 0}, heureReservation: {id: 0, horaire: '', reservations: []}}, 'add')">Ajouter une réservation <span class="sr-only">(current)</span></button>
    </li>
  </ul>
</nav>
<!-- MAIN - LISTE DES RESERVATIONS -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let reservation of reservations">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{{reservation.restaurant.nom}}</h5>
          <p class="card-text"><i class="bi bi-geo-alt-fill"></i> {{reservation.restaurant.adresse}}</p>
          <p class="card-text"><i class="bi bi-person-fill"></i> {{reservation.nbrAdultes}} adulte(s) et {{reservation.nbrEnfants}} enfant(s)</p>
          <p class="card-text"><i class="bi bi-clock-fill"></i> {{reservation.heureReservation.horaire}}</p>
          <div class="d-flex justify-content-center">
            <a href="#" class="btn btn-danger mx-2" (click)="deleteReservation(reservation)">
              <i class="bi bi-trash-fill"></i>
            </a>
            <a [routerLink]="['/update-reservation', reservation.id]" class="btn btn-success mx-2"><i class="bi bi-pencil-fill"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- MODAL D'AJOUT DE RESERVATION -->
<div class="modal fade" id="addReservationModal" tabindex="-1" role="dialog" aria-labelledby="addReservationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addReservationModalLabel">Ajouter une réservation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddReservation(addForm)">
          <div class="form-group">
            <label for="restaurant">Restaurant</label>
            <select ngModel name="restaurant" class="form-control" id="restaurant" required>
              <option value="">-- Choisissez un restaurant --</option>
              <option *ngFor="let restaurant of restaurants" [value]="restaurant">{{ restaurant.nom }}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="nbrAdultes">Nombre d'adultes</label>
            <input type="number" ngModel name="nbrAdultes" class="form-control" id="nbrAdultes" placeholder="Nombre d'adultes" required>
          </div>
          <div class="form-group">
            <label for="nbrEnfants">Nombre d'enfants</label>
            <input type="number" ngModel name="nbrEnfants" class="form-control" id="nbrEnfants" placeholder="Nombre d'enfants" required>
          </div>
          <div class="form-group">
            <label for="horaires">Horaire</label>
            <select ngModel name="horaires" class="form-control" id="horaires" required>
              <option value="">-- Choisissez un horaire --</option>
              <option *ngFor="let horaire of horaires" [value]="horaire">{{horaire.horaire}}</option>
            </select>
          </div>
          <div class="modal-footer">
            <button [disabled]="addForm.invalid" class="btn btn-primary">Sauvegarder les changements</button>
            <button type="button" id="add-reservation-form" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
