.colonne1{
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
}

.colonne2{
    font-size: 30px;
    color: antiquewhite;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 95, 45);
    height: 400px;
}